<!DOCTYPE html>
<html lang=“en”>
   <head>
        <title> Predicted </title>
    </head>
    
    <body>       
            <br>
            <br>
            <h1>Prediction</h1>
            <div>       
            <br>
            <h3>Accuracy using {{content1}} in predicting heart disease is 100%</h3>
            <h3>Accuracy using {{content2}} in predicting heart disease is 91%</h3>
            <h3>Accuracy using {{content3}} in predicting heart disease is 72%</h3>
            <br>

            <p>Was heart disease shown in the first model using {{content1}} as input?:</p> {{prediction1}}
            <p>Was heart disease shown in the second model using {{content2}} as input?:</p> {{prediction2}}
            <p>Was heart disease shown in the third model using {{content3}} as input?: </p>{{prediction3}}

            <br>     
                <div id='button'>
                  <form action="/predict" method="GET">
                     <input type=submit name=submit value='make another prediction'>
                  </form>
                </div>
                
                  or

                <div id='button'>
                  <form action="/bye" method="GET">
                     <input type=submit name=submit value='---- say good bye ----'>
                  </form>
                </div>
             </h4>
             </div>   
    </body>
</html>